export MYSQL_ROOT_PASSWORD=123
export MYSQL_DATABASE=airflow
export MYSQL_USER=airflow
export MYSQL_PASSWORD=123
export AIRFLOW__CORE__SQL_ALCHEMY_CONN="mysql+mysqlconnector://airflow:123@airflow_db/airflow"
